<p id="notice"><%= notice %></p>

<p>
  <strong>Survey section:</strong>
  <%= @question.survey_section_id %>
</p>

<p>
  <strong>Input type:</strong>
  <%= @question.input_type_id %>
</p>

<p>
  <strong>Question name:</strong>
  <%= @question.question_name %>
</p>

<p>
  <strong>Question subtext:</strong>
  <%= @question.question_subtext %>
</p>

<p>
  <strong>Answer required:</strong>
  <%= @question.answer_required %>
</p>

<p>
  <strong>Allow multiple answers:</strong>
  <%= @question.allow_multiple_answers %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
