<h1>Listing option_groups</h1>

<table>
  <thead>
    <tr>
      <th>Option group name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @option_groups.each do |option_group| %>
      <tr>
        <td><%= option_group.option_group_name %></td>
        <td><%= link_to 'Show', option_group %></td>
        <td><%= link_to 'Edit', edit_option_group_path(option_group) %></td>
        <td><%= link_to 'Destroy', option_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Option group', new_option_group_path %>
