
<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
	<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
	<% end %>
	</ul>
</div>
	<% end %>

	<div class="row">
		  <div class="span6 offset3">
<div class="field">
	<%= f.label :fname, "First Name" %><br>
	<%= f.text_field :fname %>
</div>
<div class="field">
	<%= f.label :lname, "Last Name" %><br>
	<%= f.text_field :lname %>
</div>
<div class="field">
	<%= f.label :email %><br>
	<%= f.text_field :email %>
</div>
<div class="field">
	<%= f.label :school %><br>
	<%= f.number_field :school %>
</div>
<div class="field">
	<%= f.label :password %><br>
	<%= f.password_field :password %>
</div>
<div class="field">
	<%= f.label :password_confirmation, "Confirmation" %> <br>
	<%= f.password_field :password_confirmation %>
</div>
<br>
<div class="actions">
	<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
</div>

</div>
</div>

<% end %>
