<p id="notice"><%= notice %></p>

<% provide(:title, @user.fname) %>

<div class="row">
	  <aside class="span4">
	    <section>
	      <h1>
	        <%= gravatar_for @user %>
					<%= @user.fname %> <%= @user.lname %>
	      </h1>
	    </section>
	  </aside>
	</div>

<p>
  <strong>Fname:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
