<h1>Listing question_options</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Option choice</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @question_options.each do |question_option| %>
      <tr>
        <td><%= question_option.question_id %></td>
        <td><%= question_option.option_choice_id %></td>
        <td><%= link_to 'Show', question_option %></td>
        <td><%= link_to 'Edit', edit_question_option_path(question_option) %></td>
        <td><%= link_to 'Destroy', question_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question option', new_question_option_path %>
