<%= form_for(@survey_section) do |f| %>
  <% if @survey_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_section.errors.count, "error") %> prohibited this survey_section from being saved:</h2>

      <ul>
      <% @survey_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :survey_header_id %><br>
    <%= f.number_field :survey_header_id %>
  </div>
  <div class="field">
    <%= f.label :section_name %><br>
    <%= f.text_field :section_name %>
  </div>
  <div class="field">
    <%= f.label :section_title %><br>
    <%= f.text_field :section_title %>
  </div>
  <div class="field">
    <%= f.label :section_subheading %><br>
    <%= f.text_field :section_subheading %>
  </div>
  <div class="field">
    <%= f.label :section_required %><br>
    <%= f.check_box :section_required %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
